set default=0
set timeout=1

# The IP on the PXE VLAN (the one dnsmasq listens on)
set tftp_server={{ pxe_vlan_ip }}
set root=(tftp,${tftp_server})

menuentry '{{ iso_url | basename | splitext | first }} (PXE)' {
    # Kernel/initrd from TFTP (correct paths for Fedora/RHEL ISOs)
    linuxefi (tftp)/images/pxeboot/vmlinuz \
        ip=dhcp \
        inst.stage2=http://{{ pxe_vlan_ip }}/os \
        inst.repo=http://{{ pxe_vlan_ip }}/os \
        inst.ks=http://{{ pxe_vlan_ip }}/init-config/${net_default_mac}.ks
    initrdefi (tftp)/images/pxeboot/initrd.img
}

