#
# IMPORTANT NOTE
#
# This chart inherits from our common library chart. You can check the default values/options here:
# https://github.com/k8s-at-home/library-charts/tree/main/charts/stable/common/values.yaml
#

controller:
  enabled: true
  type: deployment
  labels:
    smb-dependent: "true"

image:
  # -- image repository
  repository: quay.io/linuxserver.io/sabnzbd
  # -- image tag
  tag: 4.5.3
  # -- image pull policy
  pullPolicy: IfNotPresent

podSecurityContext:
  runAsUser: 1000
  runAsGroup: 1000
  fsGroup: 1000
  fsGroupChangePolicy: "OnRootMismatch"

# -- environment variables.
# @default -- See below
env:
  # -- Set the container timezone
  TZ: America/Chicago
  HOST_WHITELIST_ENTRIES: sabnzbd.lajas.tech
  HOSTNAME: sabnzbd.lajas.tech

# -- Configures service settings for the chart.
# @default -- See values.yaml
service:
  main:
    enabled: true
    primary: true
    type: ClusterIP
    ports:
      http:
        enabled: true
        primary: true
        port: 8080

ingress:
  # -- Enable and configure ingress settings for the chart under this key.
  # @default -- See values.yaml
  main:
    enabled: true
    ingressClassName: nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
      hajimari.io/appName: SABnzbd
      hajimari.io/icon: file-arrow-up-down-outline
    hosts:
      - host: &host sabnzbd.lajas.tech
        paths:
          - path: /
            pathType: Prefix
    tls:
      - secretName: sabnzbd-tls-certificate
        hosts:
          - *host

# -- Configure persistence settings for the chart under this key.
# @default -- See values.yaml
persistence:
  config:
    enabled: true
    existingClaim: ""
    storageClassName: "longhorn"
    accessMode: ReadWriteOnce
    size: "1Gi"

  downloads:
    enabled: true
    mountPath: /downloads
    existingClaim: "plex-apps-cifs-plex-media"

# -- The common chart supports several add-ons. These can be configured under this key.
# @default -- See below
addons:
  codeserver:
    enabled: false
  vpn:
    enabled: false
  promtail:
    enabled: false
  netshoot:
    enabled: false

# -- Specifies whether a service account should be created
serviceAccount:
  create: false

autoscaling:
  enabled: false
