#
# IMPORTANT NOTE
#
# This chart inherits from our common library chart. You can check the default values/options here:
# https://github.com/bjw-s/helm-charts/blob/a081de5/charts/library/common/values.yaml
#

image:
  # -- Image repository
  repository: ghcr.io/paperless-ngx/paperless-ngx
  # -- Image pull policy
  pullPolicy: IfNotPresent
  # -- Image tag
  tag: "2.20"

# -- Environment variables [[ref]](https://docs.paperless-ngx.com/configuration/)
# @default -- See [values.yaml](./values.yaml)
env:
  # -- Set the container timezone
  TZ: America/Chicago
  # PAPERLESS_SECRET_KEY: ""
  PAPERLESS_PORT: 8000
  PAPERLESS_ADMIN_USER: root
  PAPERLESS_URL: https://paperless.lajas.tech
  PAPERLESS_CONSUMER_POLLING: 10

envFrom:
  - secretRef:
      name: paperless-secret

service:
  # -- Configures service settings for the chart.
  # @default -- See [values.yaml](./values.yaml)
  main:
    ports:
      http:
        port: 8000

ingress:
  main:
    enabled: true
    ingressClassName: nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
      nginx.ingress.kubernetes.io/proxy-body-size: 64m
    hosts:
      - host: &host paperless.lajas.tech
        paths:
          - path: /
    tls:
      - hosts:
          - *host
        secretName: paperless-tls-certificate

persistence:
  # -- Configure data volume settings for the chart under this key.
  # @default -- See [values.yaml](./values.yaml)
  data:
    enabled: true
    retain: true
    mountPath: /usr/src/paperless/data
    storageClass: ""
    accessMode: ReadWriteOnce
    size: 10Gi
  # -- Configure media volume settings for the chart under this key.
  # @default -- See [values.yaml](./values.yaml)
  media:
    enabled: true
    retain: true
    mountPath: /usr/src/paperless/media
    storageClass: ""
    accessMode: ReadWriteOnce
    size: 8Gi
  # -- Configure export volume settings for the chart under this key.
  # @default -- See [values.yaml](./values.yaml)
  export:
    enabled: true
    retain: true
    mountPath: /usr/src/paperless/export
    storageClass: ""
    accessMode: ReadWriteOnce
    size: 1Gi
  # -- Configure consume volume settings for the chart under this key.
  # @default -- See [values.yaml](./values.yaml)
  consume:
    enabled: true
    retain: true
    mountPath: /usr/src/paperless/consume
    storageClass: "smb"
    accessMode: ReadWriteOnce
    size: 4Gi
    existingClaim: "paperless-consume-smb"
    server: "//nas-01.storage.lajas.tech/"
    path: "documents/"
    driver: "smb.csi.k8s.io"
    secretName: cifs.creds.smb

# -- Enable and configure postgresql database subchart under this key.
#    If enabled, the app's db envs will be set for you.
#    [[ref]](https://github.com/bitnami/charts/tree/main/bitnami/postgresql)
# @default -- See [values.yaml](./values.yaml)
postgresql:
  enabled: true
  auth:
    database: paperless
    #postgresPassword: changeme
    existingSecret: paperless-secret
    existingSecretPasswordKey: postgres-password
  primary:
    persistence:
      enabled: true
      storageClass: ""
      size: 8Gi
  image:
    repository: bitnamilegacy/postgresql
    tag: 16.2.0-debian-11-r1

# -- Enable and configure mariadb database subchart under this key.
#    If enabled, the app's db envs will be set for you.
#    [[ref]](https://github.com/bitnami/charts/tree/main/bitnami/mariadb)
# @default -- See [values.yaml](./values.yaml)
mariadb:
  enabled: false
  auth:
    database: paperless
    username: paperless
    password: changeme
    rootPassword: changeme
  primary:
    persistence:
      enabled: false
      # storageClass: ""
      # size: 8Gi

# -- Enable and configure redis subchart under this key.
#    If enabled, the app's Redis env will be set for you.
#    [[ref]](https://github.com/bitnami/charts/tree/main/bitnami/redis)
# @default -- See [values.yaml](./values.yaml)
redis:
  enabled: true
  auth:
    enabled: true
    username: ""
    # Use an existing secret for redis auth. Do this if you're using Argo to manage your instance or otherwise using helm template under the hood
    #     The secret name can vary, but the password key must be redis-password.
    existingSecret: paperless-secret
    existingSecretPasswordKey: redis-password
  master:
    persistence:
      enabled: true
    resources:
      limits:
        memory: 1Gi
      requests:
        memory: 512Mi
  replica:
    replicaCount: 3
    resources:
      limits:
        memory: 1Gi
      requests:
        memory: 512Mi
  image:
    repository: bitnamilegacy/redis
    tag: 6.2.9-debian-11-r0

global:
  security:
    allowInsecureImages: true

opSecrets:
  vault: "z3emsr5qi5xqk33wthv5fpmfqa"
  redis:
    item: "k4k4iiq2soj5bjxtya35c3bxx4"
    secretName: "paperless-redis"
  postgres:
    item: "k4k4iiq2soj5bjxtya35c3bxx4"
    secretName: "paperless-postgresql"
  paperless:
    item: "k4k4iiq2soj5bjxtya35c3bxx4"
    secretName: "paperless-secret"
  consume:
    item: "lqvk4ql32rlorykjtxgf22echm"
    secretName: "cifs.creds.smb"
