# Discord webhook secret configuration (1Password)
discord:
  vault: "z3emsr5qi5xqk33wthv5fpmfqa"
  item: "hpnhepvxp7trfyry6yqatvk43i"
  secretName: "grafana-discord-webhook"

grafana:
  deploymentStrategy:
    type: Recreate
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
      hajimari.io/appName: Grafana
      hajimari.io/icon: chart-bar
    hosts:
      - &host grafana.lajas.tech
    tls:
      - secretName: grafana-general-tls
        hosts:
          - *host
  sidecar:
    dashboards:
      enabled: true
      searchNamespace: monitoring-system
    datasources:
      enabled: true
      searchNamespace: monitoring-system
    alerts:
      enabled: true
      searchNamespace: ALL
  envFromSecrets:
    - name: grafana-secrets
    - name: grafana-discord-webhook
  grafana.ini:
    server:
      root_url: https://grafana.lajas.tech
    auth.generic_oauth:
      enabled: true
      allow_sign_up: true
      name: Dex
      client_id: grafana-sso
      client_secret: $__env{GRAFANA_SSO_CLIENT_SECRET}
      scopes: openid profile email groups
      auth_url: https://dex.lajas.tech/auth
      token_url: https://dex.lajas.tech/token
      api_url: https://dex.lajas.tech/userinfo
      role_attribute_path: contains(groups[*], 'grafana_admins@auth.lajas.tech') && 'Admin' || contains(groups[*], 'grafana_editors@auth.lajas.tech') && 'Editor' || 'Viewer'
      allow_assign_grafana_admin: true
  persistence:
    enabled: true
    annotations:
      argocd.argoproj.io/sync-options: Replace=false
