#
# IMPORTANT NOTE
#
# This chart inherits from our common library chart. You can check the default values/options here:
# https://github.com/k8s-at-home/library-charts/tree/main/charts/stable/common/values.yaml
#

controller:
  enabled: true
  type: deployment

image:
  # -- image repository
  repository: ghcr.io/sct/overseerr
  # -- image tag
  tag: 1.34.0
  # -- image pull policy
  pullPolicy: IfNotPresent

# -- environment variables.
# @default -- See below
env:
  # -- Set the container timezone
  TZ: America/Chicago
  # -- Set the application log level
  LOG_LEVEL: info

# -- Configures service settings for the chart.
# @default -- See values.yaml
service:
  main:
    enabled: true
    primary: true
    type: ClusterIP
    ports:
      http:
        enabled: true
        primary: true
        port: 5055

ingress:
  # -- Enable and configure ingress settings for the chart under this key.
  # @default -- See values.yaml
  main:
    enabled: true
    ingressClassName: nginx
    annotations:
      external-dns.alpha.kubernetes.io/target: "homelab-tunnel.lajas.tech"
      external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
      cert-manager.io/cluster-issuer: letsencrypt-prod
      hajimari.io/appName: Overseerr
      hajimari.io/icon: monitor-eye
    hosts:
      - host: &host overseerr.lajas.tech
        paths:
          - path: /
            pathType: Prefix
    tls:
      - secretName: overseerr-tls-certificate
        hosts:
          - *host

# -- Configure persistence settings for the chart under this key.
# @default -- See values.yaml
persistence:
  config:
    enabled: true
    mountPath: /app/config
    accessMode: ReadWriteOnce
    size: "5Gi"

# -- The common chart supports several add-ons. These can be configured under this key.
# @default -- See below
addons:
  codeserver:
    enabled: false
  vpn:
    enabled: false
  promtail:
    enabled: false
  netshoot:
    enabled: false

# -- Specifies whether a service account should be created
serviceAccount:
  create: false

autoscaling:
  enabled: false
