apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "homebridge.fullname" . }}
  namespace: {{ $.Values.namespaceOverride }}
  labels:
    {{- include "homebridge.labels" . | nindent 4 }}
spec:
{{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
{{- end }}
  selector:
    matchLabels:
      {{- include "homebridge.selectorLabels" . | nindent 6 }}
  template:
    metadata:
    {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      labels:
        {{- include "homebridge.selectorLabels" . | nindent 8 }}
    spec:
      {{- if .Values.initContainers.enabled }}
      initContainers:
        - name: copy-ssh-key
          image: busybox
          command:
            - sh
            - -c
            - |
              if [ ! -f /homebridge/sleep_only_key ] ||
                 [ "$(md5sum /homebridge/sleep_only_key | cut -d ' ' -f 1)" != "$(md5sum /secrets/sleepKey | cut -d ' ' -f 1)" ]; then
                cp /secrets/sleepKey /homebridge/sleep_only_key &&
                chmod 600 /homebridge/sleep_only_key &&
                echo "Copied sleepKey to /homebridge/sleep_only_key";
              else
                echo "The key already exists and matches the source.";
              fi
          volumeMounts:
            - name: homebridge
              mountPath: /homebridge
            - name: ssh-key-secret
              mountPath: /secrets
              readOnly: true
      {{- end }}
      volumes:
      - name: homebridge
        persistentVolumeClaim:
          claimName: homebridge
      - name: ssh-key-secret
        secret:
          secretName: homebridge.sleepkey
      hostNetwork: true
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "homebridge.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          volumeMounts:
            - mountPath: "/homebridge"
              name: homebridge
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: TERMINATE_ON_ERROR
              value: "1"
          {{- if .Values.extraEnvs }}
            {{- toYaml .Values.extraEnvs | nindent 12 }}
          {{- end }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: {{ .Values.service.port }}
          readinessProbe:
            httpGet:
              path: /
              port: {{ .Values.service.port }}
          startupProbe:
            httpGet:
              path: /
              port: {{ .Values.service.port }}
            failureThreshold: 30
            periodSeconds: 10
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
---
