ingress-nginx:
  controller:
    admissionWebhooks:
      timeoutSeconds: 30
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
    allowSnippetAnnotations: true

    config:
      enable-real-ip: "true"
      use-forwarded-headers: "true"
      forwarded-for-header: "CF-Connecting-IP"

      real-ip-header: "CF-Connecting-IP"

      proxy-real-ip-cidr: "10.42.0.0/16"
      compute-full-forwarded-for: "true"
      annotations-risk-level: Critical

  tcp:
    22: gitea/gitea-ssh:22